$todo-bg: '/imgs/todo-bg.jpg';

$dark: #131313;
$white: #e8e8e8;
$blue: #22adff;
$bg: #0c496d;
$alert: #ff9c6a;

$is-dark: true !default;

@mixin dark-color($dark-mode: $is-dark, $dark-color: $dark, $white-color: $white) {
  @if $dark-mode == true {
    background-color: $dark-color;
    color: $white-color;
  } @else {
    background-color: $white-color;
    color: $dark-color;
  }
}

%border-global {
  border-radius: 5px;
}

%todo-frame {
  @if $is-dark == true {
    @include dark-color(false, $white, $bg);
  } #else {
    @include dark-color(false, $dark, $bg);
  }
  @extend %border-global;
  width: 40rem;
  padding: 5px 20px;
  margin: 15px auto;
  position: relative;
  text-align: center;
}

body {
  @include dark-color();
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  @include dark-color();
  @extend %border-global;
  border-style: none;
  box-shadow: 1px 1px 3px $blue;
  padding: 7px;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

.app-main {
  @extend %todo-frame;
  .app-title {
    margin-top: 35px;
  }
  .glossary-list {
    p {
      cursor: pointer;
      &:hover {
        text-shadow: 1px 1px $dark;
      }
    }
    .understood p {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  .glossary-item {
    display: flex;
    justify-content: space-between;
    .glossary-btn {
      position: relative;
      top: 15px;
      span {
        margin-left: 10px;
      }
      .delete-post-btn {
        cursor: pointer;
      }
    }
  }
  .editor {
    text-align: left;
    border: solid 1px darkgray;
    padding: 0 10px;
    margin: 0 0 25px 5px;
    div {
      &:focus {
        p {
          cursor: text;
        }
        outline: none;
        color: $alert;
      }
    }
  }
}

.switch-color {
  @extend %border-global;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  outline: none;
  position: absolute;
  background-color: $white;
  -webkit-appearance: none;
  cursor: pointer;
  &:checked {
    @include dark-color();
  }
  &:before {
    content: '\2600';
    font-size: 1.3rem;
    position: relative;
    left: 3px;
    top: 1px;
  }
}

.post-from, .login-from {
  margin: 15px 0;
  form {
    display: inline-grid;
  }
  input {
    @extend %border-global;
    padding: 5px;
    margin: 5px 0;
    border: solid 2px $white;
  }
  .create-btn, .login-btn {
    background-color: $blue;
    color: white;
    border: solid 2px $blue;
    cursor: pointer;
    &:hover {
      background-color: $alert;
      box-shadow: 1px 1px 1px $alert;
      border: solid 2px $alert;
    }
  }
}

.fetch-btn, .logout-btn {
  background-color: $blue;
  margin: 0 5px;
  &:hover {
    background-color: $alert;
    box-shadow: 1px 1px 1px $alert;
  }
}


.alert-text {
  color: $alert;
}